
<h1>This is home page</h1> 
<p>signup will not be present ,so remove it from homepage<p>
<p>only admin will be able to login<p>
  <h2> menu appears here<h2>
<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 